<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <TITLE>News</TITLE>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'news/button_like.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'news/label.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
<header class="container">
    <div class="row text-center">
        <h1 class="col-sm-4">
            News API Post
        </h1>
        <nav class="col-sm-8">
            {% if user.is_authenticated %}
                <p>Hello, {{ user.username }}</p>
                <a role="button" class='btn btn-primary' href="{% url 'users:logout' %}">Sign Out</a>
            {% else %}
                <a role="button" class='btn btn-primary' href="{% url 'users:login' %}">Sign In</a>
                <a role="button" class='btn btn-primary' href="{% url 'users:register' %}">Sign Up</a>
            {% endif %}
            <p>About</p>
        </nav>
    </div>
    <hr>
</header>
<section class="container">

    <ul class="col-sm-3">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
    <section class="col-sm-9">
        <div class="row">
            {% for elem in top_headlines|slice:":3" %}
                <div class="col-sm-4 menu">
                    <img src="{{ elem.0.urlToImage }}" class="img-feed"/>
                    {% if elem.0.author != none and elem.0.author != '' %}
                        <p class="author-feed">Author: {{ elem.0.author }}</p>
                    {% endif %}
                    <span class="news-title">{{ elem.0.title }}<br></span>
                    <span class="news-description">{{ elem.0.description }}<br></span>
                    <button class="like-btn" data-button-id={{ elem.0.id }} type="button">
                        {% if elem.1 %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}" style="color: #cc4b37"></i>
                        {% else %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}"></i>
                        {% endif %}
                    </button>
                    <span class="label" id="total_likes{{ elem.0.id }}">{{ elem.0.total_likes }}</span>
                    <p>{{ elem.0.id }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for elem in top_headlines|slice:"3:6" %}
                  <div class="col-sm-4 menu">
                    <img src="{{ elem.0.urlToImage }}" class="img-feed"/>
                    {% if elem.author != none and elem.0.author != '' %}
                        <p class="author-feed">Author: {{ elem.0.author }}</p>
                    {% endif %}
                    <span class="news-title">{{ elem.0.title }}<br></span>
                    <span class="news-description">{{ elem.0.description }}<br></span>
                    <button class="like-btn" data-button-id={{ elem.0.id }} type="button">
                        {% if elem.1 %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}" style="color: #cc4b37"></i>
                        {% else %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}"></i>
                        {% endif %}
                    </button>
                    <span class="label" id="total_likes{{ elem.0.id }}">{{ elem.0.total_likes }}</span>
                    <p>{{ elem.0.id }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

</section>

<script>
    const btns = document.querySelectorAll(".like-btn");
    var csrftoken = Cookies.get('csrftoken');

    const url = 'http://localhost:8000/api/v1/top_headlines/';
    const arr = [...btns];
    arr.map((el, ind) => {

        el.addEventListener("click", (e) => {
            e.preventDefault();
            let id = el.dataset.buttonId.toString();
            const responseField = document.querySelector("#total_likes" + id);
            const likeHeart = document.querySelector("#like-heart" + id);
            let endpoint = url + id;
            endpoint = endpoint + '/like/';
            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            }).then(response => {
                if (response.ok) {
                    return response.json()
                }
                throw new Error('POST request failed');
            }).then(jsonResponse => {
                console.log(jsonResponse["is_fan"], "here all is ok ");
                console.log(responseField, 'name of responseField');
                let is_fan = jsonResponse["is_fan"];
                let old_value = parseInt(responseField.innerHTML, 10);
                if (is_fan) {
                    let new_value = old_value + 1;
                    responseField.innerHTML = `${new_value}`;
                    likeHeart.style = " color: #cc4b37";
                } else {
                    let new_value = old_value - 1;
                    responseField.innerHTML = `${new_value}`;
                    likeHeart.style = " color: #8a8a8a";
                }

            }, networkError => console.log(networkError.message))
        })
    })


</script>
</body>
</html>