<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <TITLE>News</TITLE>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'news/button_like.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'news/label.css' %}" type="text/css">
    <link rel="'stylesheet" href="{% static 'news/fonts/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
<header class="container">
    <div class="row text-center">
        <h1 class="col-sm-4" style="font-family: EngTowne">
            News API Post
        </h1>
        <nav class="col-sm-8">
            {% if user.is_authenticated %}
                <p>Hello, {{ user.username }}</p>
                <a role="button" class='btn btn-primary' href="{% url 'users:logout' %}">Sign Out</a>
            {% else %}
                <a role="button" class='btn btn-primary' href="{% url 'users:login' %}">Sign In</a>
                <a role="button" class='btn btn-primary' href="{% url 'users:register' %}">Sign Up</a>
            {% endif %}
            <p>About</p>
        </nav>
    </div>
    <hr>
</header>
<section class="container">
    <div class="col-sm-3 navbar">
        <a role="button" class='btn btn-primary' href="{% url 'news:index' %}">Home</a></a>
        {% if user.is_authenticated %}
            <a role="button" class='btn btn-primary' href="{% url 'news:favourites' %}">Favourites</a>
        {% endif %}
        <form class="navbar-form" method="get" action="{% url 'news:search' %}">
            <div class="form-group">
                {% if flag %}
                    <span>Finded results: {{ page_obj.paginator.count }}</span>
                    <input type="text" class="form-control" name="q" value={{ query }}>
                {% else %}
                    <input type="text" class="form-control" name="q">
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <section class="col-sm-9">
        <div class="row">
            {% for elem in top_headlines|slice:":3" %}
                <div class="col-sm-4 menu">
                    <img src="{{ elem.0.urlToImage }}" class="img-feed"/>
                    <p class="author-feed">Posted at {{ elem.0.publishedAt|date:"P M j Y" }}<br></p>
                    {% if elem.0.author != none and elem.0.author != '' %}
                        <p class="author-feed">
                            Author: {{ elem.0.author|slice:':30' }}<br>{{ elem.0.author|slice:'30:' }}</p>

                    {% endif %}
                    {% if not elem.0.is_true %}
                        <span class="warning">Warning: this information can be false<br></span>
                    {% endif %}
                    <span class="news-title">{{ elem.0.title }}<br></span>
                    <span class="news-description">{{ elem.0.description }}<br></span>
                    <a class="watch-link" href="{{ elem.0.url }}" data-button-id={{ elem.0.id }}>See more>>><br></a>
                    <button class="like-btn" data-button-id={{ elem.0.id }} type="button">
                        {% if elem.1 %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}" style="color: #cc4b37"></i>
                        {% else %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}"></i>
                        {% endif %}
                    </button>
                    <span class="label" id="total_likes{{ elem.0.id }}">{{ elem.0.total_likes }}</span>
                    <span> <i class="fas fa-eye"></i></span>
                    {% if elem.0.views >= 1000 %}
                        <span id="views{{ elem.0.id }}"
                              class="label">{{ elem.0.views|get_digit:"4" }}.{{ elem.0.views|get_digit:"3" }}k</span>
                    {% else %}
                        <span id="views{{ elem.0.id }}" class="label">{{ elem.0.views }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for elem in top_headlines|slice:"3:6" %}
                <div class="col-sm-4 menu">
                    <img src="{{ elem.0.urlToImage }}" class="img-feed"/>
                    <p class="author-feed">Posted at {{ elem.0.publishedAt|date:"P M j Y" }}<br></p>
                    {% if elem.0.author != none and elem.0.author != '' %}
                        <p class="author-feed">
                            Author: {{ elem.0.author|slice:':30' }}<br>{{ elem.0.author|slice:'30:' }}</p>
                    {% endif %}
                    {% if not elem.0.is_true %}
                        <span class="warning">Warning: this information can be false<br></span>
                    {% endif %}
                    <span class="news-title">{{ elem.0.title }}<br></span>
                    <span class="news-description">{{ elem.0.description }}<br></span>
                    <a class="watch-link" href="{{ elem.0.url }}" data-button-id={{ elem.0.id }}>See more>>><br></a>
                    <button class="like-btn" data-button-id={{ elem.0.id }} type="button">
                        {% if elem.1 %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}" style="color: #cc4b37"></i>
                        {% else %}
                            <i class="fa fa-heart" id="like-heart{{ elem.0.id }}"></i>
                        {% endif %}
                    </button>
                    <span class="label" id="total_likes{{ elem.0.id }}">{{ elem.0.total_likes }}</span>
                    <span> <i class="fas fa-eye"></i></span>
                    {% if elem.0.views >= 1000 %}
                        <span id="views{{ elem.0.id }}"
                              class="label">{{ elem.0.views|get_digit:"4" }}.{{ elem.0.views|get_digit:"3" }}k</span>
                    {% else %}
                        <span id="views{{ elem.0.id }}" class="label">{{ elem.0.views }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>

</section>
<section class="container">
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</section>
<script src="{% static 'news/scripts/likeBtnClick.js' %}"></script>
<script src="{% static 'news/scripts/watchBtnClick.js' %}"></script>
</body>
</html>