.label {
    background-color: transparent;
    text-decoration: none;
    padding: 0rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    height: 27px;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    color: #8a8a8a;
}